.rxjs-container{
    
    margin: auto;
    
    .rxjs-container-inner{

        height: 80vh;
        
        .rxjs-container-left-side{
            height: 87vh;
            background-color: #151515;
            color: white;
            width: 290px;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        
        }
        .rxjs-container-left-search{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

    }
}
.input-wapper{

    .input-main > input{
        width: 629px;
        height: 46px;
        font-size: 20px;
    }
    .Search-button{
        display: flex;
       justify-content: center;
        .Button{
            width: 150px;
            height: 50px;
            margin-top: 20px;
            background: transparent;
            border: none;
            border: solid 1px black;
            cursor: pointer;
        }
    }


}